* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: whitesmoke;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: #612897;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

.w3-container {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
}

.button {
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid #00d6b4;
  border-radius: 3px;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Josefin Sans', sans-serif;
  color: #00d6b4;
  font-size: 13px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
}

.w3-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #612897;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

h1 {
  color: whitesmoke;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
